
* {
    font-family: 'Montserrat', sans-serif;
}

.brand-font {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 600;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.color-option:hover {
    transform: scale(1.1);
}

.color-option.active {
    border-color: #000;
    transform: scale(1.1);
}

.payment-icon {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playfair {
    font-family: 'Playfair Display', serif
}

#product-image {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    
}
 .product-image {
      object-position: center 10%; 
}



